{% extends "base5.html.twig" %}

{% block title %}Magic Page{% endblock %}

{% block main %}

<h2>Json Api Routes:</h2>
<a href="{{ path('api-quote') }}">Quote:</a><p>Get a random daily quote.</p>
<a href="{{ path('api-deck') }}">Cards:</a><p>Get a sorted deck of cards.</p>
<a href="{{ path('api-shuffle') }}">shuffle</a><p>Shuffle the deck of cards.</p>
<a href="{{ path('api_draw_cards', { 'number': 0 }) }}">Draw</a><p>Draw card/cards from the deck.</p>
<a href="{{ path('api_game') }}">Game</a><p>Displays game status</p>

{% endblock %}
